name: Python Pull Request Workflow
on: [pull_request]
jobs:
  qa:
    name: Quality check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install poetry
        run: |
          pip install -U pip
          pip install poetry
          poetry install

      - name: Test
        run: |
          poetry run python manage.py test

      - name: Black
        run: |
          poetry run black --check .
      
      - name: Isort
        run: |
          poetry run isort --check-only .

      - name: Autoflake
        run: |
          poetry run autoflake --in-place --remove-unused-variables --remove-all-unused-imports -r .

      - name: Flake
        run: |
          poetry run flake8
